body { 
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-color: #ececec;
  }
  
  .content {
    width: 450px;
    margin: auto;
  }
  
  h2 {
    color: #045137;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    font-size: xx-large;
    font-weight: bolder;
  }
  
  .contact {
    box-shadow: 0px 0px 10px #a5a5a5;
    margin: 25px;

  }
  
  .name {
    background-color: #045137;
    color: white;
    padding: auto;
    display: block;
    padding: 4% 0 4% 7%;
    font-weight: bolder;
    font-family: sans-serif;
    letter-spacing: 0.2em;
    font-size: 1.25em;
  }
  .info {
      padding: 6%;
      background-color: white;
  }
.address {
    text-align: right;
    margin: 0 0 8% 0;
    display: block; 
    letter-spacing: 0.05em;
}
.address > span:first-of-type {
    color: darkgreen;
    font-size: 1.1em;
    font-weight: 500;
    margin: 0 0 1% 0;
}
.address > span{
    display: block;
    font-size: 0.9em;
    font-weight: 500;
}
.mail {
    text-align: left;
    color: darkgreen;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 900;
    font-style: italic;
    display: block;
    font-size: 1em;
    letter-spacing: 0.1em;
    
}
.phone {
    text-align: left;
    display: block;
    letter-spacing: 0.15em;
    margin: 2% 0 0 0;
    font-size: 0.9em;
}